<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Quiz Départements"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity android:name=".QuizNumeroActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
